.bookingLocation-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(222, 236, 248);
    border-radius: 1vh;
    margin: 1vh 4vh 1vh 4vh;
    font-weight: 500;
}
