.activities-welcome-text-container-h2 {
    font-size: 7vh;
    color: #333; /* Dark gray color for the text */
    font-family: 'Arial', sans-serif; /* Sets the font of the text */
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 0;
}

.activities-welcome-text-container-p {
    font-size: 2.5vh;
    margin-left: 20vh;
    margin-right: 20vh;
    color: #333; /* Dark gray color for the text */
    line-height: 1.6; /* Spacing between lines */
    text-align: left;
}

.activities-welcome-text-paragraph {
    font-family: 'Arial', sans-serif; /* Sets the font of the text */
    background-color: #f9f9f9; /* Light gray background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow around the paragraph */
    width: 70%;
    margin-bottom: 7vh;
}

.activities-welcome-text-container {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activities-welcome-text-container p {
    margin-right: 20vh;
    margin-left: 20vh;
}

.act-head {
    text-align: center;
}

.activities-welcome-text-container ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activities-welcome-text-container li {
    font-size: 2.5vh;
    color: #333; /* Dark gray color for the text */
    margin-bottom: 1vh;
    text-align: left;
}
